.mensaje {
    color: #281d2d;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #f99d52;
    display: flex;
    padding: 2rem;
    border-radius: 25px;
}