.cardProducto {
    background: linear-gradient(to right, #f99d52, #ea8533);
    border-radius: 10px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
}

.btnDetalle {
    background-color: #281d2d;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 10px;
    border: 3px solid #fbe6e5;
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
